
.all{
  max-width:300px;
  text-align:center;
  margin:0 auto;
  margin-top:90px;
}
.all .history{
  width:20px;
  height:20px;
  margin-left:250px;
}
.buttons .top{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.all  .buttons .top  button{
  width:40px;
  height:40px;
  background-color:#ddd6fe;
  color:white;
  border-radius:50%;
  border:none;
}
.all  .buttons .top  .delete{
  width:20px;
  height:20px;
  margin:0 auto;
 
}
.all .buttons .middle
  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    margin-top:10px;

}
.all .buttons .middle button{
  width:40px;
  height:40px;
  background-color:#7c3aed;
  color:white;
  border-radius:50%;
  border:none;
  margin-right:35px;
}
.all .buttons .bottom{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin-top:10px;
}
.all .buttons .bottom button{
  width:40px;
  height:40px;
  background-color:#ddd6fe;
  color:white;
  border:none;
  border-radius:50%;
 margin-left:15px;
}
.all .display{
  height:100px;
  border:2px solid #ddd6fe;
  margin-bottom:10px;
  margin-top:10px;
  text-align:center;
  font-family:cursive;
  padding:30px;
  border-radius:12px;
}
.history1{
  display:flex;
  fleex-direction:row;
  background-color:#7c3aed;
  color:white;
  margin-top:25px;
}
.all .buttons .flex{
  display:flex;
  flex-directiom:row;
}
